body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

a{
    text-decoration: none;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p { 
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

/*----------------------HEADER------------------------*/


.container {
    /* width: 1158px; */
    max-width: 320px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    padding-top: 16px;
    padding-bottom: 16px;
    /* border-bottom: 1px solid rgb(231, 233, 252);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px 
    rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); */
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
}


.logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 76px;

}

.logo-part {
    color: #2e2f42;
}

.nav-list{
    /* display: flex;
    gap: 40px; */
    display: none;
}

.mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    fill: #2f2f37;
}

.nav-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#2e2f42;
cursor:pointer;
padding: 24px 0;
display: block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.current {
    position: relative;
    color: rgba(64, 75, 191, 1);
}

.nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
}


.address {
    /* font-style: normal;
    margin-left: auto; */
    display: none;
}

.address-list{
    display: flex;
    gap: 40px;
}

.address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus{
    color: #404bbf;
}

/*-------------MOBILE MODAL MENU-------------*/

.mobile-box-menu {
    display: flex;
    flex-direction: column;
    padding: 72px 24px 40px 16px;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-close-menu-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    fill: #2e2f42;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}


.mob-menu-navigation {
    margin-bottom: auto;
    margin-right: auto;
}

.mob-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.studio {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mob-page-contacts- {
    font-style: normal;
    margin-bottom: 48px;
}

.mob-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mob-menu-contacts {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mob-current {
    color: #404bbf;
}

.mob-menu-social-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.mob-menu-social-item {
    width: 40px;
    height: 40px;
}

.mob-menu-social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-social-link:hover,
.mob-menu-social-link:focus {
    background-color: #404bbf;
    border-radius: 50%
}

.mob-social-svg {
    fill: #F4F4FD;
}

/*-----------------HERO SECTION----------------*/

.hero-section{
    background-color: #2E2F42;
    /* padding: 188px 0; */
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70),  
    rgba(46, 47, 66, 0.70)), 
    url(../images/mob/hero-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* max-width: 1440px; */
    margin: 0 auto;
}

@media screen and (min-resolution: 192dpi) {
    .hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.70),
    rgba(46, 47, 66, 0.70)),
    url(../images/mob/hero-mob@2x.jpg);
    }
}


.hero-title {
    font-style: normal;
    font-weight: 700;
    /* font-size: 56px; */
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    /* max-width: 496px; */
    max-width: 217px;
    /* margin: 0 auto; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}


.button {
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background: #4D5AE5;
/* cursor: pointer; */
min-width: 169px;
height: 56px;
border-radius: 4px;
border: none;
margin-right: auto;
margin-left: auto;
/* margin-top: 48px; */
display: block;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus{
    background-color: #404BBF;
}

/*----------------CONTENT---------------*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.features-container{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
/* display: flex; */
gap: 24px;

}

.features-item {
    /* width: calc((100% - 3 * 24px) / 4); */
    /* width: 100%; */
}

@media screen and (max-width:767px) {
    .features-item:not(:last-child) {
        margin-bottom: 72px;
    }
    
}

.features-icon-svg-box {
/* display: flex;
align-items: center;
justify-content: center;
border-radius: 4px;
background-color: #F4F4FD;
margin-bottom: 8px;
height: 112px;
border: 1px solid #8e8f99; */
display: none;

}

.features-title {
    /* font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px; */
    font-style: normal;
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        color: #2e2f42;
}

.features-title-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    /* margin-bottom: 72px; */
}


/*-----------------TEAM---------------*/

.team-section {
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
    
}

@media screen and (max-width: 767px) {
    .team {
        max-width: 296px;
    }
}

.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color:#2E2F42;
text-align: center;
margin-bottom: 72px;
}

.container {
    max-width: 320px;
    padding: 0 16px;
}


.team-list{
    display: flex;
    text-align: center;
    /* gap: 24px; */
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}



.team-list-item {
    background-color:#fff;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08)

}

.team-member{
    padding: 32px 0;

}

.team-list-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: center;
margin-bottom: 8px;
}

.team-list-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-align: center;
margin-bottom: 8px;
}

.social-network-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-top: 8px;
}

.social-network-item-list{
    width: 40px;
    height: 40px;
}

.social-network-link{
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
background-color: #4D5AE5;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network-link:hover,
.social-network-link:focus {
    background-color: #404bbf;
    border-radius: 50%;
}

.social-network-svg{
    fill: rgba(244, 244, 253, 1);
    
}


/*---------------PORTFOLIO---------------*/

.our-portfolio {
    /* font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px; */
    margin-bottom: 72px;
    text-align: center;
    font-size: 36px;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.container {
min-width: 320px;
padding-left: 16px;
padding-right: 16px;
margin-left: auto;
margin-right: auto;
}

.portfolio-section {
    /* background-color:#FFFFFF;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px; 
    flex-direction: column; */
    display: flex;
        flex-wrap: wrap;
        gap: 24px;
}



.portfolio-section-item {
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #FFF;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-left: 0;
    margin: 0;
    flex-direction: column;
    width: calc((100% - 2 * 24px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);  */
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
}

@media screen and (max-width: 767px) {
    .portfolio-section-item:not(:last-child) {
        margin-bottom: 48px;
    }
}

.portfolio-section-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-section-item:hover .overlay-text {
    transform: translateY(0);
    /* background: #4d5ae5; */
}

.overlay-box {
    position: relative;
    overflow: hidden;
    /* width: 360px; */
    margin: 0 auto;
}

.overlay-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
}


.portfolio-app {
    /* padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none; */
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.portfolio-section-title{
    /* font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: left; */
    margin-bottom: 8px;

}

.portfolio-section-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    text-align: left;

}


/*---------------FOOTER--------------*/


.footer {
    background-color: #2e2f42;
    /* padding: 100px 0;
    margin: 0 auto;
    width: 100%; */
    padding-top: 96px;
    padding-bottom: 96px;
    
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
} 

.box {
/* display: flex;
margin-left: auto;
margin-right: auto; */
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    margin: 0;
}

.box .footer-container {

max-width: 320px;
padding-left: 16px;
padding-right: 16px;
margin-left: auto;
margin-right: auto;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.footer-title {
    color: #2e2f42;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.footer-box {
    /* width: 264px;
    margin-right: 120px; */
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-bottom: 72px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;

}

.footer-logo-color {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}

.container-icon {
    /* position: relative;
    display: flex;
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    width: 208px;
    margin-right: 80px; */
    align-items: center;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        margin-bottom: 72px;
}

.container-icon-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.container-icon-list {
    display: flex;
    gap: 16px;
    justify-content: center;

}


.icon-link-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-footer:hover,
.icon-link-footer:focus {
    background-color: #31d0aa;
}

.team-menu-icon {
    fill: #f4f4fd;
    display: flex;
    width: 24px;
    height: 24px;
}

.container-icon-item {
    /* width: 40px;
    height: 40px;
    margin-bottom: 8px; */
        width: 40px;
        height: 40px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 50%;
}

.subscribe-container {
    /* width: 453px;
    height: 80px; */
    /* width: 288px;
    height: 136px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: center;
}

.form-subscribe {
    /* display: flex; 
    gap: 24px; */
    /* display: block;
    margin-top: 0; */
        /* width: 288px;
        height: 136px;
        display: flex;
        flex-direction: column;
        align-items: center; */
}

.subscribe-input {
    /* width: 264px; */
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.subscribe-input::placeholder {
    color: #fff;
}

.subscribe-input:focus-within {
    border-color: #4d5ae5;
}

.subscribe-button {
min-width: 165px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
background-color: #4D5AE5;
border: none;
border-radius: 4px;
margin-right: auto;
margin-left: auto;
margin-top: 16px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.subscribe-button:hover,
.subscribe-button:focus {
    background-color: #404bbf;
}

.svg-subscribe{
    fill: #fff;
    /* margin-left: 16px; */
}


/*--------------MODAL-------------*/

.backdrop {
    background: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    }

.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal {
    /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
            0 2px 1px 0 rgba(0, 0, 0, 0.2);
        background: #fcfcfc;
        padding: 72px 24px 24px 24px;
        border-radius: 4px;
        width: 408px;
        min-height: 584px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 288px;
        min-height: 623px;
        border-radius: 4px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: #fcfcfc;
        padding: 72px 16px 24px 16px;
}

.mw-button {
    position: absolute;
    align-self: flex-end;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-bottom: 24px;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color: #e7e9fc;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mw-button:hover,
.mw-button:focus {
    background-color: #404bbf;
    border: none;
}

.mw-button:hover .close-svg-button,
.mw-button:focus .close-svg-button {
    fill: #FFFFFF;
}


.close-svg-button {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: #2e2f42;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    /* max-width: 256px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form {
    /* width: 360px; */
}

.modal-wrap-box {
margin-bottom: 8px;
}

.modal-lable {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
    position: relative;
}

.modal-div-form-input {
    position: relative;
}

.input-modal {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus {
    border-color: #4D5AE5;
}

.input-modal:focus + .modal-form-svg {
    fill: #4D5AE5;
}

.textarea-div {
margin-bottom: 16px;
}

.textarea {
width: 100%;
height: 120px;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
padding: 8px 16px;
outline: transparent;
resize: none;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
    border-color: #4D5AE5;
}

.user-privacy-checkbox {
    margin-bottom: 24px;
}

.checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-icon-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    position: relative;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.checkbox-checked:checked +.checkbox-label>.modal-icon-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.privacy-policy {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.send-button {
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    align-self: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:hover {
    background-color: #404bbf;
}



@media screen and (min-width: 768px) {

    .container {
        max-width: 768px;
        padding-left: 16px;
        padding-right: 16px;
        margin: 0 auto;
    }

    .header {
        margin: 0;
        margin-bottom: 3px;
        border-bottom: 1px solid rgb(231, 233, 252);
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08)
    }

    .nav-list {
        display: flex;
        gap: 40px;
    }

    .mobile-menu-btn {
        display: none;
    }

    .address {
        display: flex;
        align-items: center;
        margin-left: auto;
        font-style: normal;
    }

    .address-list {
        flex-direction: column;
        gap: 12px;
    }

    .hero-section {
        background-color: #2E2F42;
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/tab/hero-tab.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    @media screen and (min-resolution: 192dpi) {
        .hero-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                    rgba(46, 47, 66, 0.70)),
                url(../images/tab/hero-tab.jpg);
        }

    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {

        .hero-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                    rgba(46, 47, 66, 0.70)),
                url(../images/tab/hero-tab@2x.jpg);
        }
    }

    .hero-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 60px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        margin-bottom: 36px;
    }

    .features-container {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .features-item {
        width: calc((100% - 24px) / 2);
    }

    .features-title {
        text-align: left;
    }

        @media screen and (min-width: 768px) and (max-width: 1157px) {
            .team-container {
                max-width: 584px;
            }
        }

    @media screen and (min-width: 768px) and (max-width: 1158px) {
        .team-container {
            padding-left: 108px;
            padding-right: 108px;
        }

        /* .our-team {
            background-color: #f4f4fd;
            padding-top: 96px;
            padding-bottom: 96px;
        } */


        .team {
            text-align: center;
            margin-bottom: 72px;
        }

        .team-list {
            display: flex;
            gap: 64px 24px;
            flex-wrap: wrap;
            padding: 92px;
        }

        .team-list-item {
            width: calc((100% - 24px) / 2);
        }


        .portfolio-section {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            column-gap: 24px;
            row-gap: 72px;
        }

    
        .portfolio-section-item {
            display: block;
            flex-direction: column;
            width: calc((100% - 24px) / 2);
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    .footer-container {
/* flex-direction: row;
flex-wrap: wrap;
margin: 0px 97px;
padding: 0px 16px; */
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-start;
    padding: 0 108px;
    gap: 72px 24px;
}

    .footer-title {
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-start;
    flex-direction: row;
    padding-left: 108px;
    gap: 72px 24px;
    padding-right: 108px;
        }

    .footer-box {
    width: 264px;
    align-items: flex-start;
    margin: 0;
    }


    .container-icon {
    align-items: flex-start;
    margin: 0;
    }

    .subscribe-container {
    width: 453px;
    height: 80px;
    align-items: flex-start;
    }


    .form-subscribe {
    display: flex;
    flex-direction: row;
    gap: 24px;
    }

        .subscribe-input {
            width: 264px;
            height: 40px;
        }

        .subscribe-button {
            /* align-items: baseline; */
            margin-top: 0;
        }

        .modal {
            width: 408px;
            padding: 72px 24px 24px 24px;
        }

        .modal-text {
        
        }

}

@media screen and (min-width: 1158px) {

    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

    .header {
        border-bottom: 1px solid #e7e9fc;
        padding: 0 16px;
        margin-bottom: 0;
    }

    .address-list {
        flex-direction: row;
        gap: 40px;
    }


    .hero-section {
        background-color: #2E2F42;
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/deskt/hero-deskt.jpg);
    }

    @media screen and (min-resolution: 192dpi) {
        .hero-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                    rgba(46, 47, 66, 0.70)),
                url(../images/deskt/hero-deskt.jpg);
        }
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) and (min-width: 1158px) {

        .hero-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                    rgba(46, 47, 66, 0.70)),
                url(../images/deskt/hero-deskt@2x.jpg);
        }
    }

    .hero-title {
        margin-bottom: 58px;
    }

    .features-title {
        font-weight: 500;
        font-size: 20px;
    }

    .features-icon-svg-box {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background-color: #F4F4FD;
        margin-bottom: 8px;
        height: 112px;
        border: 1px solid #8e8f99;
    }


    .features-container {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
    }

    .features-title-text {
        font-weight: 400;
    }

    .section {
        padding: 120px 0;
    }

    .team-list {
        gap: 24px;
        flex-wrap: nowrap;
    }

    .team-list-item {
        background-color: #fff;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08)
    }

    .portfolio-section {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
        background-color: #FFFFFF;
    }

    .portfolio-section-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    .footer {
        padding: 96px 0;
        margin: 0 auto;
        width: 100%;
    }

    .footer-title {
        /* display: flex;
        align-items: baseline;
        gap: 0; */
        flex-direction: row;
        padding-left: 16px;
        gap: 0;
        row-gap: 0;
    }

    .box {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        flex-direction: row;
    }

    .footer-container {
        flex-wrap: nowrap;
        gap: 0;
        padding: 0 16px;
    }


    .footer-box {
        margin-right: 120px;
    }


    .container-icon {
        position: relative;
        align-items: flex-start;
        /* display: block; */
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        width: 208px;
        margin-right: 80px;
    }

    .container-icon-list {
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    .subscribe-container {
        width: 453px;
        height: 80px;
        align-items: baseline;
    }

    .form-subscribe {
        gap: 24px;
        display: flex; 
        /* align-items: center;
        justify-content: flex-start;
        flex-direction: row; */
    }

    .subscribe-input {
        width: 264px;
    }

    .subscribe-button {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        background-color: #4d5ae5;
        border-radius: 4px;
        padding: 8px 24px;
        min-width: 165px;
        height: 40px;
        border: none;
        display: flex;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .svg-subscribe {
        margin-left: 16px;
    }

}